
@{
    ViewData["Title"] = "Dashboard";
}

<h3 class="username" aria-pressed="true">@ViewBag.Username's   Dashboard <a href="/NotesApp/SignOut" class="btn btn-outline-info homebutton" role="button" aria-pressed="true">Sign Out</a></h3>

