
@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <h1>Sign In</h1>
    
    <h3>@ViewBag.message</h3>

    <hr />
    <form action="SignIn" method="post">
        <div class="pt-2 pb-1">
            <input type="text" name="username" required="" autofocus="" placeholder="Username" class="form-control form-input" />
        </div>
        <div class="pt-2 pb-1">
            <input type="password" name="password" required="" placeholder="Password" class="form-control form-input" />
        </div>
        <div class="pt-2 pb-1">
            <button type="submit" class="btn btn-outline-info form-submit">Sign In</button>
        </div>
    </form>

</div>

