@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div><h2>Day-Organiser</h2></div>
    <div class="pt-2 pb-1">
        <a href="/User/New" class="btn btn-outline-info homebutton" role="button" aria-pressed="true">Register</a>
    </div>
    <div class="pt-2 pb-1">
        <a href="/User/" class="btn btn-outline-info homebutton" role="button" aria-pressed="true">Sign In</a>
    </div>
</div>
